.login {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #b19cd9, #f8c6d8);
    z-index: 1000;
}

.login-box {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    width: 320px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 10px 0;
    color: #333;
}

.login-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 12px;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-group input {
    margin-right: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #5b9efc;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #4287f5;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #777;
    font-size: 12px;
}

.divider span {
    background-color: white;
    padding: 0 10px;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.social-btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.social-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
