hr{
    border: 1px solid rgb(195, 195, 195);
}

hr:last-of-type{
    display: none;
}

.seleTakerpathLink {
    display: flex;
    align-items: center;
    vertical-align: middle;
    font-size: 1.4rem;
}

.seleTakerpathLink>img,
.seleTakerpathLink>a,
.seleTakerpathLink>label {
    display: flex;
    vertical-align: middle;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
    margin-bottom: 0;
    margin-left: 5px;
}

.seleTakerallTaker {
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 40px 0px;
    padding-bottom: 10px;
    padding: 20px 0 10px;
    display: block !important;
}

.seleTakercontentone {
    background-color: #7fc5d280;
    height: 300px;
    border-radius: 10px;
    margin: 20px 10px;
    display: flex;
}

.seleTakercontent {
    height: 300px;
    border-radius: 10px;
    margin: 0 20px;
    display: flex;
}

.seleTakercontent1 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.seleTakercompanyphoto {
    /* flex: 8; */
    height: 120px;
    width: 120px;
    background-color: white;
    border-radius: 50%;
    margin: 25px 25px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.seleTakercompanyphoto img {
    border-radius: 50%;
    max-width: 100%;
    /* 確保圖片不超出父容器 */
    max-height: 100%;
    /* 確保圖片不超出父容器 */
    margin: auto;
    object-fit: cover;
}

.seleTakercompanyname {
    flex: 2;
    display: flex;
    text-align: center;
    margin: 5px;
    align-items: center;
}

.seleTakercompanyname>h4 {
    display: inline;
}

.seleTakercompanystar {
    flex: 2;
    text-align: center;
    margin: 5px;
}

.seleTakeruserStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleTakeruserStar>label {
    font-size: 0.7rem;
    margin-left: 10px;
}

.seleTakercontent2 {
    flex: 7;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.seleTakertitle {
    margin: 10px 0 0;
}

.seleTakertitle>h2 {
    margin-top: 0;
    text-shadow: 0 4px 4px #00000040;
}

.seleTakerlocation {
    margin: 0 0 20px;
    font-size: 0.9rem;
}

.seleTakercasecontent {
    margin: auto 0;
    text-align: justify;
    font-size: 0.9rem;
}

.seleTakerrequire {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.seleTakerrequire>p {
    margin-left: 0;
}

.seleTakerrequire div {
    display: flex;
}

.seleTakerrequire div p {
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 4px 15px;
    margin: 15px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seleTakercontent3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px;
}

.seleTakertime {
    font-weight: 700;
    margin: 20px 0;
    height: fit-content;
    font-size: 0.9rem;
}

.seleTakercontent3btn {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.seleTakercontent3btn>button {
    color: black;
    background-color: #F5F5DC;
    width: 75px;
    border: 0;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 10px 10px;
    margin: 10px 30px;
    display: flex;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-items: center;
}

hr {
    margin: 20px 30px;
}


.seleTakertab {
    height: 40px;
    display: flex;
    margin: 50px 0 30px;
    justify-content: center;
    align-items: center;
}

.seleTakertab a {
    color: white;
    background-color: #464646;
    border-radius: 5px;
    padding: 9px 20px;
    margin: 0 2px;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
}

.seleTakerfooter {
    display: flex;
    height: 125px;
    background-color: #D3D3D3;
}

.seleTakericons {
    flex: 4;
    display: flex;
    justify-content: center;
    /* 水平置中 */
    align-items: center;
    /* 垂直置中 */
}

.seleTakericons>a {
    text-align: center;
    padding: 10px;
    /* 添加內邊距以提高可點擊區域 */
    background-color: lightgray;
    /* 添加背景色便於視覺區分 */
    margin: 5px;
    /* 添加外邊距以增加間距 */
    color: black;
    /* 設置文字顏色 */
    transition: background-color 0.3s;
    /* 添加過渡效果 */
}

.seleTakericons a:hover {
    background-color: gray;
    /* 鼠標懸停時改變背景色 */
    color: white;
    /* 鼠標懸停時改變文字顏色 */
}

.seleTakercopyright {
    flex: 4;
    text-align: center;
    margin: 25px 10px;
}

.seleTakercopyright a,
.seleTakercopyright>div+div {
    color: black;
    padding: 20px;
}


.seleTakertab{
    width: 70%;
    margin: 50px auto 20px auto;
    margin-left: auto;
    margin-right: auto;
}


.seleTakerTabNumber{
    vertical-align: middle;
    margin-left: 15px;
    width: 140px;
}