#tset {
    width: 400px;
    margin: 100px;
}

#tset label {
    margin: 30px;
}

.search-input {
    width: 300px;
    margin: 50px;
}

.search-button {
    padding: 8px 16px;
    border-radius: 10px;
}
